<!DOCTYPE html>
<html>
  <head>
    <title>Palindromes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Palindromes Checker</h1>
      <form action="/result" method="post">
        <label for="userInput">Input the word, number ot phrase to check if it is palindrome</label>
        <input id="userInput" name="userInput" type="text">
        <button type="submit">Check</button>
      </form>
    </div>
  </body>
</html>